<?xml version="1.0" encoding="utf-8"?>

<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "osg.sua.unad_alin"
        version     = "26.3.1" 
        versionCode = "29" 
		>
    <!-- versionCode es un atributo opcional
		 y solo es utilizado por Android -->
  
  <name>SUA UNAD</name>
  
  <description>Sistema Unificado de Control Academico para la UNAD.</description>
  
  <author href="http://sav-ne.com/" email="oscarricardosan@gmail.com">Oscar Sanchez</author>
  
  <gap:platform name="ios" />
  <gap:platform name="android" />
  
  <preference name="phonegap-version" value="3.7.0" />
  <preference name="orientation" value="default" />
  <preference name="fullscreen" value="true" />
  
  <icon src="images/icon.png" />
  
  <gap:plugin name="org.apache.cordova.file" />
  <gap:plugin name="org.apache.cordova.inappbrowser" />
  
  <preference name='phonegap-version' value='cli-5.1.1' />
  
</widget>
